.card-box {
  position: relative;
  color: #000;
  background: #FFF;
  padding: 20px 10px 40px;
  word-wrap: break-word;
}

.card-box .inner {
  padding: 5px 10px 0 10px;
}

.card-box span {
  font-size: 1rem;
  font-weight: bold;
  margin: 0 0 8px 0;
  white-space: nowrap;
  padding: 0;
  text-align: left;
}

.card-box h3 {
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 400;
  margin-bottom: 0;
}

.btn-send-transfer {
  background: #007bff;
  border-radius: 5px;
  border: 0px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  height: 50px;
  transition: background 0.2s ease 0s, color 0.2s ease 0s;
  font-size: 16px;
}

.btn-send-transfer:hover {
  color: #FFF;
  background: #0062cc;
  transition-delay: 0s;
}

.btn-send-transfer:disabled, .btn-send-transfer button[disabled] {
  cursor: not-allowed;
}